{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
    {% if favorite_cities.count < 3 %}
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Add favourite city</span>
                <form method="post">
                    <input type="hidden" name="action" value="add">
                    {% csrf_token %}
                    <input type="text" name="{{ form.name.name }}" id="add_favorite_city" placeholder="Set new city" />
                    <button type="submit" class="btn">Add city</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    {% for fav_city_data in favorite_cities_data %}
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ fav_city_data.city.name }}</span>
                <form method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="edit">
                    <input type="hidden" name="city_id" value="{{ fav_city_data.city.id }}">
                    <input type="text" name="new_city_name" id="edit_favorite_city" placeholder="Edit your city">
                    <button type="submit" class="btn">Edit</button>
                    <button type="button" class="delete-city btn red" data-city-id="{{ fav_city_data.city.id }}">Remove</button>
                </form>
                <table>
                    <thead>
                    <tr>
                        <th>Hour</th>
                        <th>Temperature</th>
                        <th>Humidity</th>
                        <th>Pressure</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for forecast in fav_city_data.list %}
                    <tr>
                        <td>{{ forecast.hour }}</td>
                        <td>{{ forecast.temperature }}&deg;C</td>
                        <td>{{ forecast.humidity }}%</td>
                        <td>{{ forecast.pressure }} hPa</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Weather for {{ city }}</span>
                <form method="GET">
                    <label for="city">Enter city name:</label>
                    <input type="text" name="city" id="city" value="{{ city }}">
                    <input type="submit" value="Show forecast" class="btn">
                </form>
                <table>
                    <thead>
                    <tr>
                        <th>Hour</th>
                        <th>Temperature</th>
                        <th>Humidity</th>
                        <th>Pressure</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for forecast in forecast_list %}
                    <tr>
                        <td>{{ forecast.hour }}</td>
                        <td>{{ forecast.temperature }}&deg;C</td>
                        <td>{{ forecast.humidity }}%</td>
                        <td>{{ forecast.pressure }} hPa</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script> // Initializes Google Places Autocomplete for city input fields and sets the city value based on the user's selection
    function initializeAutocomplete() {
        const input = document.getElementById('city');
        const addFavoriteCityInput = document.getElementById('add_favorite_city');
        const editFavoriteCityInput = document.getElementById('edit_favorite_city');
        const options = {
            types: ['(cities)']
        };
        const autocomplete = new google.maps.places.Autocomplete(input, options);
        const addFavoriteCityAutocomplete = new google.maps.places.Autocomplete(addFavoriteCityInput, options);
        const editFavoriteCityAutocomplete = new google.maps.places.Autocomplete(editFavoriteCityInput, options);

        function setCityValueFromAutocomplete(inputElement, autocompleteInstance) {
            autocompleteInstance.addListener('place_changed', function () {
                const place = autocompleteInstance.getPlace();
                if (!place.address_components) {
                    return;
                }
                let city = '';
                for (let i = 0; i < place.address_components.length; i++) {
                    const component = place.address_components[i];
                    if (component.types.indexOf('locality') !== -1) {
                        city = component.long_name;
                        break;
                    }
                }
                if (city !== '') {
                    inputElement.value = city;
                }
            });

            inputElement.form.addEventListener('submit', function (event) {
                event.preventDefault();

                setTimeout(() => {
                    inputElement.form.submit();
                }, 400);
            });
        }

        setCityValueFromAutocomplete(input, autocomplete);
        setCityValueFromAutocomplete(addFavoriteCityInput, addFavoriteCityAutocomplete);
        setCityValueFromAutocomplete(editFavoriteCityInput, editFavoriteCityAutocomplete);
    }
    window.addEventListener('load', initializeAutocomplete);
</script>
<script> // Adds click event listeners to delete buttons for removing favorite cities
    const deleteButtons = document.querySelectorAll('.delete-city');
    deleteButtons.forEach((button) => {
        button.addEventListener('click', (event) => {
            const form = event.target.closest('form');
            const actionInput = form.querySelector('input[name="action"]');
            const cityIdInput = form.querySelector('input[name="city_id"]');

            actionInput.value = 'delete';
            cityIdInput.value = event.target.dataset.cityId;
            form.submit();
        });
    });
</script>

{% endblock %}
