<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdSUmurIerwZFu7EMIFChvcsVW2rHqm-8&libraries=places"></script>
    <title>{% block title %}ROAMIO{% endblock title %}</title>
</head>
<body>
    <header>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'weather' %}">Weather</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
